# Airflow core
apache-airflow==2.9.3
apache-airflow-providers-common-sql==1.20.0
apache-airflow-providers-http==4.13.3
apache-airflow-providers-postgres==5.14.0
apache-airflow-providers-amazon==9.2.0

# dbt
#apache-airflow-providers-common-sql==1.19.0
dbt-core==1.7.4
dbt-postgres==1.7.4
sqlparse>=0.5.1

# Web framework and session management
Flask>=2.2,<2.3
flask-session==0.4.0
Werkzeug>=2.0,<2.3

# Database and ORM
SQLAlchemy>=1.4,<2.1
psycopg2-binary==2.9.9

# Apache Arrow database driver
adbc_driver_postgresql==0.10.0

# Data processing libraries
pandas==2.2.0
polars==1.15.0
#pyspark==3.5.1

# Date and time handling
pendulum==2.1.2

# Testing and utilities
pytest==8.1.1
python-dotenv==1.0.1

# HTTP requests and external data fetching
requests==2.31.0
yfinance==0.2.49

pyarrow
